<div class="menu">
  {{map/nav-bar logout="logout"}}
  <br>
  {{tables/table-nav}}
  <div class="ui two column centered grid">
    <div class="column">
      <div class="control"><br>
        {{button/triple-button typeobject="truck" create="createuser" update="update" delete="delete"}}
        <br>
      </div>
    </div>
  </div>
  <br>
  {{tables/table-truck model=model}}
</div>
{{outlet}}
