<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <h2>Manage your truck fleet</h2>
  </div>
</div>

<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <div class="ui action input">
      {{input value=namecreate type=text placeholder="name"}}
      <button class="ui green button" type="submit" {{action 'create'}}>
        Add
      </button>
    </div>
  </div>
</div>

<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <div class="ui action input">
      {{input value=oldname type=text placeholder="old name"}}
      {{input value=newname type=text placeholder="new name"}}
      <button class="ui yellow button" type="submit" {{action 'update'}}>
        Update
      </button>
    </div>
  </div>
</div>

<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <div class="ui action input">
      {{input value=namedelete type=text placeholder="name"}}
      <button class="ui red button" type="submit" {{action 'delete'}}>
        Delete
      </button>
    </div>
  </div>
</div>



{{yield}}